<div class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand" style=" font-size: 32px;  font-weight: bold; line-height: 55px">FİLM İNCELEME PLATFORMU</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/Movie/Create" class="nav-link">Film Ekle</a>
            </li>
            
            <li>
                <form action="/home/index" class="form-inline"> 
                    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 bg-light" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
</div>

